@import url(http://fonts.googleapis.com/css?family=Raleway);
.img {
    background-position: center center, center center;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    overflow: hidden;
    position:relative;
    top:0; right:0;
    bottom:0; left:0;
}
.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('http://i.ytimg.com/vi/91VHLwWQi3I/maxresdefault.jpg');
}
body {
  @extend .img, .background;
  min-width: 100vw;
  min-height: 100vh;
  font-family:Raleway;
}
h1.title {
  color:#FFF;
  font-size:10vh;
}
.sidebar {
  position:fixed;
  height:100vh;
  width:100px;
  background-color:#3B170B;
  top:0px;
  font-size: 20px;
  opacity: 0.5;
  text-color: white;
}
#content {
  padding-left: 100px;
}