<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6" id="searchSong"
             style="margin-top:15vh; background-color:rgba(230,230,230,0.3)">
            <h1 class="title text-center"><i class="fa fa-spotify"></i> Search It</h1>

            <form ng-submit="searchTracks(searchTrack)">
                <input autofocus type="text" placeholer="Search for songs" ng-model="searchTrack" class="form-control">
            </form>

            <div style="border-top: solid black 1px;" ng-repeat="track in tracks.tracks.items">
                <div>
                    <div style="display:block">
                        <img style="height:6vmax;width:6vmax" ng-src="{{track.album.images[0].url}}">
                    </div>
                    <div class="content">
                        <a class="header" href="#" ng-click="sendTrack(track.id)">
                            {{track.name}}
                        </a>

                        <div class="meta">
                            <span class="cinema">{{track.artists[0].names}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>